@page
@model ZeelandZoo.Pages.EventsCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.EventPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.EventPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.EventAttendanceLimit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.EventAttendanceLimit)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Events?.Id">Rediger</a> |
    <a asp-page="./Index">Tilbage til listen</a>
</div>
