@page
@model ZeelandZoo.Pages.NewsCRUD.IndexModel

@using Microsoft.AspNetCore.Identity
@using ZeelandZoo.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Nyheder</h1>

<p>
    <a asp-page="Create">Opret nyhed</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].NewsDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <style>
        table {
            background-color: #CCD6EF;
        }
    </style>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDate)
            </td>
                @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
                {
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
                    </td>
                } else
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a>                   
                    </td>
                }
        </tr>
}
    </tbody>
</table>

<style>
    Body {
        background-image: url('https://scontent-cph2-1.xx.fbcdn.net/v/t39.30808-6/277817506_657052259000962_6144921249846798986_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_aid=0&_nc_ohc=fM7ArAYu0b4AX9A8G2H&_nc_ht=scontent-cph2-1.xx&oh=00_AfDR5DAYhNuuNJOoRLfEExLzQduy0MrxglhzXPULKUZAww&oe=6479F01A'); background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
